# Этот файл .editorconfig определяет настройки форматирования кода для проекта. Он указывает редакторам кода, 
# таким как Visual Studio Code или Sublime Text, каким образом форматировать текстовые файлы в проекте, чтобы обеспечить 
# единообразие в стиле кодирования. Например, он определяет стиль отступов, символьный набор, использование пустых строк в конце файла и другие параметры форматирования.
# top-most EditorConfig file

# Определяем этот файл как верхнеуровневый в проекте
root = true

# Используем Unix-стиль переноса строк с переносом строки в конце каждого файла
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

# Для файлов с расширением .js используем табуляцию для отступов и размер табуляции 4 пробела
[*.js]
indent_style = tab
indent_size = 4

# Совпадает с точными файлами package.json или .travis.yml, используем пробелы для отступов и размер табуляции 2 пробела
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
