# Этот файл .gitignore указывает системе контроля версий Git, какие файлы и папки 
#следует игнорировать при отслеживании изменений в репозитории. Например, он исключает временные и автоматически с
#оздаваемые файлы, такие как зависимости, результаты тестирования, файлы среды и т. д., чтобы они не попадали в репозиторий и не засоряли историю изменений.

# dependencies
/node_modules           # Игнорируем папку node_modules, содержащую зависимости проекта
/.pnp                   # Игнорируем файл .pnp
.pnp.js                 # Игнорируем файл .pnp.js

# testing
/coverage               # Игнорируем папку coverage, содержащую результаты тестирования

# production
/build                  # Игнорируем папку build, содержащую собранный продакшн-код

# misc
.DS_Store               # Игнорируем файлы .DS_Store, создаваемые macOS
.env.local              # Игнорируем файл .env.local
.env.development.local  # Игнорируем файл .env.development.local
.env.test.local         # Игнорируем файл .env.test.local
.env.production.local   # Игнорируем файл .env.production.local
npm-debug.log*          # Игнорируем файлы журналов отладки npm
yarn-debug.log*         # Игнорируем файлы журналов отладки yarn
yarn-error.log*         # Игнорируем файлы журналов ошибок yarn
dist                    # Игнорируем папку dist
build                   # Игнорируем папку build
/package-lock.json      # Игнорируем файл package-lock.json, создаваемый npm
